---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
import Benefits from "../components/Benefits.astro";
import Testimonials from "../components/Testimonials.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import QuestionAndAnswers from "../components/QuestionAndAnswers.astro";
---

<Layout
  title="Gentle Touch Mobile Phlebotomy Service LLC | Professional Blood Drawing Services"
  description="Professional mobile phlebotomy services in the comfort of your home or office. Gentle, convenient, and reliable blood drawing by certified phlebotomists."
>
  <Header />
  <main>
    <Hero />
    <Services />
    <About />
    <Benefits />
    <Testimonials />
    <QuestionAndAnswers />
    <Contact />
  </main>
  <Footer />
</Layout>
