---
const currentYear = new Date().getFullYear();
import { Image } from "astro:assets";
---

<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <a href="/">
          <Image
            src="/logo.webp"
            alt="Gentle Touch Mobile Phlebotomy Service LLC"
            width={90}
            height={60}
          />
        </a>
        <p>Professional blood drawing services in the comfort of your home.</p>
      </div>

      <div class="footer-links">
        <div class="footer-column">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#services">Services</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#benefits">Why Choose Us</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>

        <div class="footer-column">
          <h4>Services</h4>
          <ul>
            <li><a href="#services">Blood Draws</a></li>
            <li><a href="#services">Home Visits</a></li>
            <li><a href="#services">Special Populations</a></li>
          </ul>
        </div>

        <div class="footer-column">
          <h4>Contact Us</h4>
          <ul class="footer-contact-info">
            <li>
              <i class="fa-solid fa-phone"></i>
              <a href="tel:8134004580">(813) 400-4580</a>
            </li>
            <li>
              <i class="fa-solid fa-envelope"></i>
              <a href="mailto:admin@gentlephlebotomy.com"
                >admin@gentlephlebotomy.com</a
              >
            </li>
            <li>
              <i class="fa-solid fa-location-dot"></i> Serving The Greater Tampa
              Bay Area
            </li>
          </ul>

          <div class="social-links">
            <a
              href="https://www.facebook.com/people/Gentle-Touch-Mobile-Phlebotomy-Service-LLC/61575074860195/"
              aria-label="Facebook"
            >
              <i class="fa-brands fa-facebook"></i>
            </a>
            <!-- <a href="https://instagram.com" aria-label="Instagram">
              <i class="fa-brands fa-instagram"></i>
            </a> -->
            <a
              href="https://www.linkedin.com/company/gentel-touch-mobile-phlebotomy-service-llc/"
              aria-label="LinkedIn"
            >
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>
        &copy; {currentYear} Gentle Touch Mobile Phlebotomy Service LLC. All rights
        reserved.
      </p>
      <div class="footer-legal">
        <p>
          Expertly crafted by <a href="https://www.khalstead.com"
            >Kevin Halstead</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
